html,
body {
  overflow-x: hidden !important;
}
/* For phones */

/* For all other phones */
@media (max-width: 700px) {
  nav {
    flex-direction: column;
    height: 20vh !important;
    /* padding: 1rem 0; */
    justify-content: space-evenly;
    position: sticky;
    top: 0;
  }
  .nav-links {
    width: 100% !important;
    margin: 1rem auto;
  }
  .nav-links a {
    font-size: 1rem;
    margin: 0.5rem !important;
  }
  #landingpage {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding: 0 2rem;
    margin-top: 5rem;
  }
  #landingpage h1 {
    margin: 2rem 0;
  }

  #landingpage .landingpage-content {
    height: 100%;
    width: 100%;
    text-align: center;
  }
  .landingpage-tagline {
    text-align: center;
  }
  #landingpage .landingpage-image {
    display: none;
  }
  #about-us {
    min-height: 50vh;
  }
  .lead-heading {
    font-size: 2rem;
    width: 100%;
  }
  .primary-text {
    font-size: 1rem;
    width: 100%;
  }
  .logo img {
    height: 80px;
    margin-top: 2rem;
  }
  .logo-C-image {
    top: 100px;
    left: 0px;
    height: 50vh;
    width: 75vw;
  }
  .slideshow-container {
    height: 80vh;
  }
  #about-us {
    min-height: 80vh;
  }
  .text {
    width: 80%;
    left: 50%;
    font-size: 1rem;
  }
  .about-us-heading {
    width: 50%;
    left: 50%;
    font-size: 1.5rem;
  }
  #projects .project-main {
    grid-template-columns: 1fr;
  }
  #projects,
  #about-us {
    padding-top: 160px;
  }
  .leads,
  .members {
    grid-template-columns: 1fr;
  }
  .lead img,
  .member img {
    height: 100px;
    width: 100px;
  }
  .lead .primary-text,
  .member .primary-text {
    font-size: 1.3rem;
  }
  .lead .small-text,
  .member .small-text {
    font-size: 1rem;
  }
}
/* For medium sized phones like Moto G4 */
@media (max-height: 700px) {
  nav {
    height: 25vh !important;
  }
}
/* For small phones like iPhone 5 */
@media (max-height: 600px) {
  nav {
    height: 25vh !important;
  }
  .nav-links a {
    font-size: 0.85rem !important;
    margin: 0.5rem !important;
  }
  .lead-heading {
    font-size: 1.5rem;
  }
  .primary-text {
    font-size: 0.85rem;
  }
}
/* .landingpage-image */

/* For tablets and iPads */
@media (min-width: 768px) and (max-width: 900px) {
  #landingpage {
    min-height: 50vh;
  }
  #landingpage .landingpage-image {
    height: 300px;
    background-size: cover;
  }

  .nav-links {
    width: 60%;
    margin: 0 1rem;
  }

  .logo-C-image {
    top: 120px;
    left: -5px;
    height: 50vh;
    width: 75vw;
  }

  .lead-heading {
    font-size: 2.5rem;
    width: 100%;
    margin: 3rem 0 !important;
  }
  .primary-text {
    font-size: 1.5rem;
    width: 100%;
  }
  .slideshow-container {
    height: 50vh;
  }
  .text {
    width: 80%;
    left: 50%;
    font-size: 1.5rem;
    top: 60%;
  }
  .about-us-heading {
    width: 50%;
    left: 50%;
    font-size: 2rem;
  }
  #projects .project-main {
    grid-template-columns: repeat((2, 1fr));
  }
  .lead img,
  .member img {
    height: 150px;
    width: 150px;
  }
  .members {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }

  #projects .project-main {
    grid-template-columns: 1fr;
    grid-gap: 3rem !important;
  }
}
/* For iPad Pro */
@media (min-width: 1000px) {
  #landingpage {
    min-height: 50vh;
  }
  #landingpage .landingpage-image {
    height: 400px;
    background-size: cover;
  }
  .landingpage-tagline {
    width: 100%;
  }
  .nav-links {
    width: 60%;
    margin: 0 1rem;
  }
  .nav-links a {
    font-size: 1.5rem;
  }

  .logo-C-image {
    top: 100px;
    left: -5px;
    height: 50vh;
    width: 75vw;
  }
  .slideshow-container {
    height: 50vh;
  }
  .text {
    width: 80%;
    left: 50%;
    top: 60%;
  }
  .about-us-heading {
    width: 50%;
    left: 50%;
  }
  #projects .project-main {
    grid-template-columns: 1fr;
    grid-gap: 3rem !important;
  }
  .members {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }
}
