/* CSS Variables */

:root {
  --black: #000000;
  --grey: #1e1e1e;
  --red: #e9081e;
  --white: #ffffff;
  --cef-teal: #2fb2a0;
  --background-color: #0f1618;
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background: var(--background-color);
  font-family: 'Lato', sans-serif;
  color: white;
}
section {
  padding-top: 130px;
}

/* Utility Classes */
/* These are classes that we are going to use frequently in our CSS */

.container {
  margin: auto;
  max-width: 1200px;
}
.lead-heading {
  font-size: clamp(35px, 5vw, 60px) !important;
  font-family: 'Epilogue', sans-serif;
}
.small-heading {
  font-size: 2.5rem;
  margin: 1rem 0;
}
.primary-text {
  font-size: clamp(20px, 2vw, 30px) !important;
  /* font-size: 1.8rem; */
}
.small-text {
  font-size: 1.3rem;
}
.t-center {
  text-align: center;
}

/* Padding classes */
.px-1 {
  padding: 0 1rem;
}
.px-2 {
  padding: 0 2rem;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}

/* Margin classes */
.mx-1 {
  margin: 0 1rem;
}
.mx-2 {
  margin: 0 2rem;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}

/*navbar*/
nav {
  /* position: sticky;
  top: 0; */
  z-index: 3;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  min-height: 12vh;
  width: 100%;
  transition: height 0.2s ease;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/*nav links positioning*/
.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}
/*nav links styles*/
.nav-links a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
  font-size: 1.25rem;
  transition: color 0.3s ease;
}
/*links hover*/
.nav-links a:hover {
  color: var(--cef-teal);
}
/*logo*/
.logo img {
  width: 200px;
  height: 80px;
  margin: 0.5rem 0;
}

/*landing page section*/

#landingpage {
  color: var(--white);
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  padding: 0 5rem;
  display: flex;
  padding-top: 80px !important;
  margin-top: 3rem;
}
#landingpage h1 {
  margin: 2rem 0;
  position: relative;
}

#landingpage .landingpage-content {
  height: 50%;
  width: 80%;
  line-height: 1.5;
  margin: 100px 0;
}
#landingpage .landingpage-image {
  background: url('../public/assets/images/robot.png') no-repeat center
    center/contain;
  width: 50%;
  max-height: 500px;
  margin-left: 100px;
  margin-top: 100px;
}
.landingpage-tagline {
  width: 70%;
  line-height: 2;
}
.logo-C-image {
  background: url('../public/assets/images/logoC.png') no-repeat center
    center/contain;
  transform: rotate(33deg);
  position: absolute;
  top: 0px;
  left: -430px;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

/* About us Carousel */
#about-us {
  min-height: 50vh;
}
/* Slideshow container */
.slideshow-container {
  height: 80vh;
  max-width: 100vw;
  position: relative;
  margin: auto;
  background: #333;
}

.mySlides {
  width: 100%;
  height: 100%;
}
/* Slidershow images */
.slideshow-container .mySlides img {
  width: 100%;
  height: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 50%;
  line-height: 2;
  font-size: clamp(20px, 2vw, 30px) !important;

  text-align: center;
}
.about-us-heading {
  color: #f2f2f2;
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 50%;
  line-height: 2;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 1rem 0.5rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Projects */
#projects {
  min-height: 90vh;
  /* margin: 5rem 0; */
  padding-top: 150px;
  color: #fff;
  text-align: center;
}
#projects .container {
  max-width: 1600px;
}
#projects .project-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 2rem 1rem;
}
.project-main .project {
  min-height: 50vh;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 60vh;

  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(32, 32, 32);
  color: white;
  transform: rotateY(180deg);
  align-items: center;
  min-height: 60vh;
}

.card-content {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem;
}
.card-content .primary-text {
  line-height: 1.6;
}
/* .project img {
  height: 100%;
  width: 100%;
} */

/* Our Team */
#our-team {
  min-height: 100vh;
  padding-bottom: 3rem;
}
#our-team .container {
  height: 100%;
  max-width: 1400px;
}
#our-team .team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.leads,
.members {
  display: grid;
  height: 80%;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 1rem auto;
}
.members {
  grid-template-columns: repeat(4, 1fr);
}

.lead .primary-text,
.member .primary-text {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.lead,
.member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.lead img,
.member img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 1rem;
  transition: all 0.4s ease;
  cursor: pointer;
  z-index: 2;
}

.lead img:hover,
.member img:hover {
  background-color: black;
  z-index: 2;
}

#footer {
  z-index: 3;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 30vh;
  width: 100%;
}

.social-media-icons {
  display: flex;
  margin: 1rem auto;
  height: 50%;
  width: 30%;
  justify-content: space-evenly;
  align-items: center;
}
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: all 0.4s ease;
}

/* Add a hover effect if you want */
.fb:hover {
  color: #4267b2;
}
.tw:hover {
  color: #1da1f2;
}
.in:hover {
  color: #c13584;
}
.li:hover {
  color: #2867b2;
}
#copyright {
  font-size: 1.2rem;
  margin: 1rem 0;
  color: #2fb2a0;
}
