/* CSS Variables */

:root {
  --black: #000000;
  --grey: #1e1e1e;
  --red: #e9081e;
  --white: #ffffff;
  --cef-teal: #2fb2a0;
  --background-color: rgb(36, 35, 35);
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
body {
  background: var(--background-color);
  font-family: "Lato", sans-serif;
}
section {
  padding-top: 130px;
}

/* Utility Classes */
/* These are classes that we are going to use frequently in our CSS */

.container {
  margin: auto;
  max-width: 1200px;
}
.lead-heading {
  font-size: 4rem;
  font-family: "Epilogue", sans-serif;
}
.primary-text {
  font-size: 1.8rem;
}

/*navbar*/
nav {
  position: sticky;
  top: 0;
  z-index: 2;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 12vh;
  transition: height 0.2s ease;
  /* width: 100vw; */
  /* padding-right: 1.5rem;
  padding-left: 1.5rem; */
}
/*nav links positioning*/
.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}
/*nav links styles*/
.nav-links a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
  font-size: 1.25rem;
  transition: color 0.3s ease;
}
/*links hover*/
.nav-links a:hover {
  color: var(--cef-teal);
}
/*logo*/
.logo img {
  width: 200px;
  height: 80px;
  margin: 0.5rem 0;
}

/*landing page section*/

#landingpage {
  color: var(--white);
  min-height: 100vh;
  min-width: 100vw;
  margin-top: 5rem;
  position: relative;
  padding: 0 5rem;
}
#landingpage h1 {
  margin: 5rem 0;
}

#landingpage .landingpage-content {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 1.5;
}
.logo-C-image {
  background: url("/public/assets/images/logoC.png") no-repeat center
    center/contain;
  transform: rotate(33deg);
  position: absolute;
  top: 0px;
  left: -430px;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

/* About us Carousel */
#about-us {
  min-height: 100vh;
}
/* Slideshow container */
.slideshow-container {
  height: 80vh;
  max-width: 100vw;
  position: relative;
  margin: auto;
  background: #333;
}

.mySlides {
  width: 100%;
  height: 100%;
}
/* Slidershow images */
.slideshow-container .mySlides img {
  width: 100%;
  height: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 1rem 0.5rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Projects */
#projects {
  min-height: 100vh;
  /* margin: 5rem 0; */
  color: #fff;
  text-align: center;
}
#projects .project-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 2rem 1rem;
}
.project-main .project {
  background: rgba(31, 31, 32, 0.9);
  min-height: 50vh;
}

/* Our Team */
#our-team {
  /* margin: 5rem 0; */
  color: #fff;
  text-align: center;
}

#our-team .members {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  /* grid-template-areas: "box1 box2"; */
}

#our-team .members .tile {
  margin: 10px 10%;
  background: rgba(31, 31, 32, 0.9);
  align-self: center;
  text-align: center;
  height: 260px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
#our-team .members .tile:nth-child(1) {
  grid-column: 1 / span 2;
  margin: 10px 30%;
}
/* #our-team .members .tile {
  grid-area: box2;
} */

#our-team .members .tile .front-side {
  backface-visibility: hidden;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-30%, -50%);
  text-align: justify;
}

#our-team .members .tile .front-side p {
  font-family: "Lato", sans-serif;
}

#our-team .members .tile:hover {
  transform: rotateY(180deg);
  transition: all 1s ease-out;
}

#our-team .members .tile .back-side {
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

#our-team .members .tile .back-side {
  padding: 1rem;
  display: block;
  height: 100%;
}
#our-team .members .tile .back-side .top {
  display: flex;
}
#our-team .members .tile .back-side .body {
  position: absolute;
  top: 50%;
  left: 30%;
  display: block;

  transform: translate(-25%, -50%);
  text-align: justify;
}
#our-team .members .tile .back-side h1 {
  text-align: left;
}
#our-team .members .tile .back-side ul {
  list-style: none;
  top: 0;
  text-align: end;
  margin-left: auto;
}

#our-team .members .tile .back-side ul li {
  color: white;
  opacity: 0.8;
}

#our-team .members .tile .back-side ul li a {
  text-decoration: none;
  color: white;
}
#our-team .members .tile .back-side ul li a span {
  font-size: 14px;
  font-weight: 400;
}
#our-team .members .tile .back-side ul li a:hover {
  color: var(--cef-teal);
  border-bottom: 1px dashed var(--cef-teal);
}
