/* CSS Variables */

:root {
  --black: #000000;
  --grey: #1e1e1e;
  --red: #e9081e;
  --white: #ffffff;
  --cef-teal: #2fb2a0;
  --background-color: rgb(36, 35, 35);
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--background-color);
  font-family: "Lato", sans-serif;
}

/* Utility Classes */
/* These are classes that we are going to use frequently in our CSS */

.container {
  max-width: 1500px;
  margin: 0 auto;
}
.lead-heading {
  font-size: 4rem;
}
.primary-text {
  font-size: 1.8rem;
}

/*navbar*/
nav {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 7rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
/*nav links positioning*/
.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 40%;
}
/*nav links styles*/
.nav-links a {
  color: white;
  margin-left: 5px;
  margin-left: 5px;
  text-decoration: none;
  font-size: 1.25rem;
  transition: color 0.3s ease;
}
/*links hover*/
.nav-links a:hover {
  color: var(--cef-teal);
}
/*logo*/
.logo img {
  width: 200px;
  height: 80px;
  margin: 0.5rem 0;
}

/*landing page section*/
#landingpage {
  color: var(--white);
  min-height: 100vh;
  margin: 5rem 0;
  position: relative;
}
#landingpage h1 {
  margin: 5rem 0;
}

#landingpage .landingpage-content {
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 1.5;
}
.logo-C-image {
  margin-top: 1rem;
  transform: rotate(33deg);
  position: absolute;
  top: -25px;
  left: -22px;
  height: 1170px;
  width: 1350px;
  background: url("/public/assets/images/logoC.png") no-repeat center
    center/cover;
  z-index: -1;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: #717171;
}
